.imagen-principal {
	height: 400px;
	width: 540px;
}
.imagen-secundaria {
	height: 200px;
	width: 285px;
	padding-bottom: 1%;
}
.imagen-principal, .imagen-secundaria:hover {
	border: 3px solid #2874A6;
	cursor: pointer;
}
.subtitulo-promocion-principal {
	position: absolute;
	width: 540px;
	background-color: white;
}
.subtitulo-promocion-principal:hover {
 	border: 3px solid #2874A6;
 	cursor: pointer;
}