<div class="container cont-app">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h2>
                    <small>Bienvenidos a</small>
                </h2>
                <h1 class="brand-name">Amitié viajes</h1>
                <hr class="tagline-divider">
                <h2>
                   <small>La agencia que me recomendó un amigo
                        <!--<strong>Start Bootstrap</strong>-->
                    </small> 
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Nuestras promociones <strong>más destacadas</strong></h2>
                <hr>

                <div class="row">
                  <div class="col-md-3">
                    <img class="img-responsive imagen-secundaria" src="assets/img/promociones/salta2.jpg" alt="">  
                    <img class="img-responsive imagen-secundaria" src="assets/img/promociones/buzios.jpg" alt="">  
                  </div>

                  <div class="col-md-6">
                    <img class="img-responsive imagen-principal" src="assets/img/promociones/bariloche.jpg" alt="">
                  </div>

                  <div class="col-md-3">
                    <img class="img-responsive imagen-secundaria" src="assets/img/promociones/salta3.jpg" alt="">  
                    <img class="img-responsive imagen-secundaria" src="assets/img/promociones/cancun.jpg" alt="">  
                  </div>
                </div>

 <!--                <img class="img-responsive img-fluid img-border img-left" src="assets/img/promociones/salta2.jpg" alt="">

                <img class="img-responsive img-fluid img-border img-left" src="assets/img/promociones/salta2.jpg" alt="">

                <img class="img-responsive img-fluid img-border img-right" src="assets/img/promociones/salta2.jpg" alt="">

                <img class="img-responsive img-fluid img-border img-left" src="assets/img/promociones/salta2.jpg" alt=""> -->

            </div>
        </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <div>
              <app-financiacion></app-financiacion>
          </div>
          
        </div>
      </div>
    </div>

    <br>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr>
                <h2 class="intro-text text-center">Información de <strong>contacto</strong></h2>
                <hr>
                <p>Horarios de atención: Lunes a Viernes de 09.00 a 17.00 hs. Sabádos de 09.00 a 13.00 hs.</p>
                <p>Teléfonos: 0223-155771441 / 02291-15510614</p>
                <p>Dejanos tu consulta haciendo <a [routerLink]="['/about']">Click acá</a></p>
                
                <app-newsletter></app-newsletter>

            </div>
        </div>
    </div>
</div>