<div class="container cont-app">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <h2>
                    <small>Bienvenidos a</small>
                </h2>
                <h1 class="brand-name">Amitié viajes</h1>
                <hr class="tagline-divider">
                <h2>
                   <small>La agencia que me recomendó un amigo
                    </small> 
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Nuestras promociones <strong>más destacadas</strong></h2>
                <hr>

                <div class="row">
                  <div class="col-md-3">
                    <img class="img-responsive imagen-secundaria" (click)="mostrarDetalleProducto(productos[1])" src="../{{productos && productos[1]?.getPathImagenPrincipal()}}" id="rc">
                    <div *ngIf="productos" class="subtitulo-promocion-secundaria-top" (click)="mostrarDetalleProducto(productos[1])" id="gti">
                        <h5 class="subtitulo-producto-nombre" *ngIf="productos">{{productos[1]?.nombre}}</h5>
                        <b>$ {{productos[1]?.valor}}</b>
                    </div>
                    <img class="img-responsive imagen-secundaria" (click)="mostrarDetalleProducto(productos[2])" src="../{{productos && productos[2]?.getPathImagenPrincipal()}}" id="rc">
                    <div *ngIf="productos" class="subtitulo-promocion-secundaria-bot" (click)="mostrarDetalleProducto(productos[2])" id="gti">
                        <h5 class="subtitulo-producto-nombre">{{productos[2]?.nombre}}</h5>
                        <b>$ {{productos[2]?.valor}}</b>
                    </div>
                  </div>

                  <div class="col-md-6" (click)="mostrarDetalleProducto(productos[0])">
                    <img src="../{{productos && productos[0]?.getPathImagenPrincipal()}}" class="img-responsive miniatura-producto" id="rc">
                    <div *ngIf="productos" class="subtitulo-promocion-principal" id="gti">
                        <h4 class="subtitulo-producto-nombre"><b>{{productos[0]?.nombre}}</b></h4>
                        <b>$ {{productos[0]?.valor}}</b>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <img class="img-responsive imagen-secundaria" (click)="mostrarDetalleProducto(productos[3])" src="../{{productos && productos[3]?.getPathImagenPrincipal()}}" id="rc">
                    <div *ngIf="productos" class="subtitulo-promocion-secundaria-top" (click)="mostrarDetalleProducto(productos[3])" id="gti" >
                        <h5 class="subtitulo-producto-nombre">{{productos[3]?.nombre}}</h5>
                        <b>$ {{productos[3]?.valor}}</b>
                    </div>
                    <img class="img-responsive imagen-secundaria" (click)="mostrarDetalleProducto(productos[4])" src="../{{productos && productos[4]?.getPathImagenPrincipal()}}" id="rc">
                    <div *ngIf="productos" class="subtitulo-promocion-secundaria-bot" (click)="mostrarDetalleProducto(productos[4])" id="gti" >
                        <h5 class="subtitulo-producto-nombre">{{productos[4]?.nombre}}</h5>
                        <b>$ {{productos[4]?.valor}}</b>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <div>
              <app-financiacion></app-financiacion>
          </div>
          
        </div>
      </div>
    </div>

    <br>
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <hr>
                <h2 class="intro-text text-center">Información de <strong>contacto</strong></h2>
                <hr>
                <p>Horarios de atención: Lunes a Viernes de 09.00 a 17.00 hs. Sabádos de 09.00 a 13.00 hs.</p>
                <p>Teléfonos: 0223-155771441 / 02291-15510614</p>
                <p>Dejanos tu consulta haciendo <a [routerLink]="['/about']">Click acá</a></p>
                
                <app-newsletter></app-newsletter>

            </div>
        </div>
    </div>
</div>