<div class="container cont-app">
	<div class="row" >
		<div class="box">
			<div class="col-md-12 recuadro-producto" *ngFor="let producto of productos" (click)="mostrarDetalleProducto(producto)">
				<div class="row equal">

					<div class="col-md-3">
						<img src="../{{producto?.getPathImagenPrincipal()}}" class="img-responsive miniatura-producto"> 
					</div>
						
					<div class="col-md-7">
						<div class="row">
							<div class="col-md-12">
								<h3>{{ producto?.nombre }}</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{ producto?.descripcion }}</p>
								<p>Destino: {{ producto?.destino_turistico_lugar }} - {{ producto?.destino_turistico_pais }}</p>
							</div>
						</div>
						<app-lista-iconos [iconos]="producto?.iconos"></app-lista-iconos>
					</div>
					<div class="col-md-2 recuadro-producto-detalle-monto">
						<div class="row">
							<div class="col-md-12 text-center">
								<h3>Disfrútalo desde:</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center .recuadro-producto-monto">
								<h3>$ {{ producto?.valor }}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</div>
