<div class="row">
	<div class="col-md-12 text-center">
    <hr>
    <h2 class="intro-text text-center">Para recibir nuestras promociones <strong>Suscribite!</strong></h2>
    <hr>
		<form class="form-inline" [formGroup]="formulario" (ngSubmit)="guardarSuscriptor()">
			<label for="email">Email: </label>
	    <input type="email" class="form-control" id="mail" formControlName="mail" placeholder="ejemplo@gmail.com">
	    <button type="submit" class="btn btn-default" [disabled]="!formulario.get('mail').valid">Suscribirse</button>
	    <button type="button" class="btn btn-default" [disabled]="!formulario.get('mail').valid" (click)="cancelarSuscripcion()">Cancelar suscripcion</button>
  		<p class="mensaje-suscripcion">{{ mensaje }}</p>
		</form>
	</div>
</div>
