.fila-detalle-seccion {
	margin: 1% 1% 1% 1%;
}
.imagen-carousel {
	height: 300px;
	width: 1000px;
}
.recuadro-detalle-producto {
 	border: 3px solid #F5F5F5;
 	background-color: #F5F5F5;
}
.carousel-epigrafe {
	background-color: white;
}
.detalle-monto-final {
	text-align: center;
	background-color: #FFFAFA;
}
.detalle-seccion {
	background-color: #FFFAFA;
}
.detalle-bases-condiciones {
	font-size: 12px;
}