.menu {
	width: auto;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
ul {
	display: flex;
	list-style: none;
}

ul li a {
	display: block;
	padding: 20px 60px;
	text-decoration: none;
	color: black;
}

ul ul {
	position: absolute;
	top: 250px;
	display: block;
	background: white;
	z-index: 2;
	opacity: 0;
}

ul li:hover ul{
	opacity: 1;
}

.ul-submenu {
	display: block;
}

.nav li:hover > ul {
	display:block;
	background-color: black;
  background: rgba(255,255,255,255);
  display: table-caption;
  border-radius: 0;
  text-align: center;
  z-index: 2;
}

.ul-submenu:hover {
	display: block;
	border: none;
	background-color: black;
	display: table-caption;
  border-radius: 0;
	text-align: center;
	z-index: 2;
}
.ul-principal {
	z-index: -1;
}
.estiles {
	background-color: yellow;
}